.cartLink {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px;
}

.quantity {
  margin-left: 2px;
  font-size: 0.8em; /* Adjust the size as needed */
}
